.nav-side-menu {
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #364252;
  position: absolute;
  width: 200px;
  height: 100%;
  color: #ffffff;
}
.nav-side-menu .brand {
  background-color: #2c3643;
  line-height: 40px;
  display: block;
  text-align: center;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul .collapsed .arrow:before,
.nav-side-menu li .collapsed .arrow:before {
  font-family: FontAwesome;
  content: "\f053";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #44b6ae;
  background-color: #5e7390;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #1AAE98;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #222933;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #2c3643;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #364252;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #364252;
  border-bottom: 1px solid #2c3643;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #ffffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #FFF;
  background-color: #5e7390;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.nav-side-menu .menu-list .menu-content {
  display: block;
}

.container {
  width: 1130px !important;
  margin-left: 200px !important;
}

body {
  margin: 0px;
  padding: 0px;
}

.container {

  text-align:justify;
}
