extends ../layout

block content
    h1= title
    button#writeDraftDoc(name="writeDraftDoc") 기안문 작성
    button#approvalLine(name="approvalLine") 결재선 지정
    button#approvalWaitList(name="approvalWaitList") 결재대기 목록
    button#approvalDoneList(name="approvalDoneList") 결재완료 목록

    script(src='/js/apprMain.js')