link(rel='stylesheet', href='/stylesheets/style.css')
link(rel='stylesheet', href='/stylesheets/breadcrumb.css')
link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
link(rel='stylesheet', href='/jquery-ui/themes/smoothness/jquery-ui.min.css')
link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css')
script(src='/jquery/dist/jquery.min.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/jquery-ui/jquery-ui.min.js')